Time: O(n), Space: O(n)

In [ ]:
class Solution:
    def tribonacci(self, n: int) -> int:
        t = [0, 1, 1]
        if n == 0:
            return 0
        elif n == 1:
            return 1
        elif n == 2:
            return 1
        for i in range(3, n+1):
            add = t[i-1] + t[i-2] + t[i-3]
            t.append(add)

        return t[-1]

Space: O(1)

In [ ]:
class Solution:
    def tribonacci(self, n: int) -> int:
        a, b, c = 0, 1, 1
        add = a + b + c
        if n == 0:
            return 0
        elif n == 1:
            return 1
        elif n == 2:
            return 1
        for _ in range(n-2):
            add = a + b + c
            a = b
            b = c
            c = add

        return add

In [ ]:
class Solution:    
    def tribonacci(self, n):
        a, b, c = 1, 0, 0
        for _ in range(n): a, b, c = b, c, a + b + c
        return c